
body{
    background-color: #FFDADA;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    padding: 40px 20px;
    text-align: center;
    margin: auto;
}


h1 {
    color: black;
    font-size: 2.5em;
    margin-bottom: 15px;
    text-align: center;
    
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    background-color: aliceblue;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #FF69B4;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: #333;
    font-size: 1em;
    text-align: center;
}

.category img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}


.category a {
    text-decoration: none;
}

.question-container {
    max-width: 850px;
    margin: 170px auto 60px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    margin-top: 25px;
}

.option {
    background-color: #f6cfcf;
    color: black;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.score-container {
    margin-top: 44px;
    padding: 15px; 
}

.score {
    font-size: 1.3em; 
    color: black; 
    font-weight: bold;
    margin: 0; 
}

.reset-button {
    background-color: #FF69B4;
    color: white;
    padding: 13px 50px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
}


.next-button {
    background-color: #FF69B4;
    color: white;
    padding: 13px 50px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
}