body{
    background-color: #FFDADA;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #FF69B4;
    font-size: 2.5em;
    margin-bottom: 15px;
    margin-top: 5px;
}

.container {
    max-width: 1200px;
    padding: 50px 20px;
    text-align: center;
    margin: auto;
}

p.instructions {
    color: #FF69B4;
    font-size: 1.4em;
    margin: 15px 0 15px;
    font-weight: bold;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    background-color: aliceblue;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #FF69B4;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: #333;
    font-size: 1em;
    text-align: center;
}

.category img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}


.category a {
    text-decoration: none;
}

.question-container {
    max-width: 850px;
    margin: 170px auto 60px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin-top: 30px;
}

.option {
    background-color: #f6cfcf;
    color: black;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.score-container {
    margin: 40px 600px 40px;
    padding: 1px;
    background-color: #fcfcfc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score {
    font-size: 1.3em; 
    color: #FF69B4; 
    font-weight: bold; 
    
}

.reset-button {
    background-color: #FF69B4;
    color: white;
    padding: 13px 50px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
}


.next-button {
    background-color: #FF69B4;
    color: white;
    padding: 13px 50px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
}

.footer-text {
    color: #FF69B4;
    font-size: 0.9em;
    margin-top: 20px;
}


#startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    margin-left: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    background-color: white;
}


.f1Instructions {
    color: #FF69B4;
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: bold;
}

#startQuizBtn {
    background-color: #FF69B4;
    color: white;
    padding: 9px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 0 12px;
    max-width: 200px;
}